version: '3.9'

services:
  api:
    image: node:16
    working_dir: /usr/src/app
    volumes: 
      - /usr/src/app/node_modules
      - ./:/usr/src/app
    ports:
      - '3000:3000'
    depends_on:
      - db
    command: "npm run start:dev"

  db:
    container_name: db
    image: postgres:12
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: {}